html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #f9f9f9;
}
h1, h2, h3 {
    font-family: Lexend, sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 64px;
}
p {
    font-family: Roboto, sans-serif;
}
a {
    font-family: Fira Mono, monospace;
    color: #F9F9F9;
    text-decoration: none;
}

/* nav */
header {
    position: sticky;
    top: 0px;
    z-index: 2;
}
nav {
    position: relative;
    background-color: #033962;
    margin: 0;
    padding: 30px 20px 0px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    display: inline-block;
    position: sticky;
    top: 20px;
}
nav a {
    /* border: 1px solid red; */
    color: #D4E6F1;
    text-decoration: none;
    margin-top: 120px; 
    margin-left: 40px; 
    margin-right: 40px;

    padding: 12px 16px;
}

nav a:hover {
    color: #FFA600;
    text-decoration: underline;
}

.logo {
    margin-right: auto;
}
.nav-border-top {
    position: sticky;
    bottom: 3px;
    max-width: 100%;
}



/* main section */
.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.intro {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 30px 100px;
    gap: 130px;
}
.self {
    max-width: 370px;
    border-radius: 20px;
    
}
.bubble-container {
    position: relative;
}
.bubble {
    position: absolute;
    left: 280px;
    top: 70px;
}

/*
.grid-container {
    border: 1px solid black;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 3fr 0.4fr 0.8fr 0.25fr 4fr; 
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 3fr; 
    gap: 0px 0px; 
}



.chat-bubble {
    border: 1px solid red;
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
}

.intro h1 {
    grid-column: 4 / span 2;
    grid-row: 3 / span 3;
}
*/


.click-scroll {
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 20px 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.see-my-work {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #033962;
    text-decoration: none;
    letter-spacing: 3px;

}
.bouncing-arrow {
    background-color: #FFA600;
    color: #F9F9F9;
    padding: 10.5px 11.5px 10.5px 11.5px;
    border-radius: 30px;
    text-align: center;
}



/* work section*/
.work {
    margin-top: 0 auto;
    padding: 180px 100px 100px;
}
.section-title {
    font-family: Lexend, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    color: #033962;
    margin-bottom: 50px;
}


/* case study - overlapping cards */
.case-study-container {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 80px;
    display: flex;
    gap: 30px;
    position: relative;
}
.cover-img {
    max-width: 50%;
}
.description-container {
    position: absolute;
    top: 110px;
    left: 700px;
}
.description {
    background-color: #B4D8E7;
    border-radius: 20px;
    display: flex; 
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    max-height: 50%;
}
.description-text h2 {
    color: #033962;
    font-family: Lexend, sans-serif;
    font-size: 24px;
    margin-bottom: 0px;
}
.description-text h3 {
    font-family: Roboto, sans-serif;
    color: #033962;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}
.button {
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #FFA600;
}








/* footer */
footer {
    background-color: #033962;
    color: #F9F9F9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 2;
    padding: 30px;
}
.lets-connect {
    max-width: 300px;;
}
footer ul {
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    list-style: none;
    text-align: center;
}
footer ul li {
    padding: 10px;
}
.nav-border-bottom {
    position: relative;
    margin: 0;
    top: 4px;
    max-width: 100%;
}