html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #f9f9f9;
}
h1, h2, h3 {
    font-family: Lexend, sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 64px;
}
p {
    font-family: Roboto, sans-serif;
}
a {
    font-family: Fira Mono, monospace;
    color: #F9F9F9;
    text-decoration: none;
}










/* nav styling */
header {
    position: sticky;
    top: 0px;
    z-index: 2;
}
nav {
    position: relative;
    background-color: #033962;
    margin: 0;
    padding: 30px 20px 0px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    display: inline-block;
    position: sticky;
    top: 20px;
}
nav a {
    color: #D4E6F1;
    text-decoration: none;
    margin-top: 120px; 
    margin-left: 40px; 
    margin-right: 40px;
    padding: 12px 16px;
}
nav a:hover {
    color: #FFA600;
    text-decoration: underline;
}
.logo {
    margin-right: auto;
}
.nav-border-top {
    position: sticky;
    bottom: 3px;
    max-width: 100%;
}










/* index.html style*/
/* intro section */
.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.intro {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 30px 100px;
    gap: 130px;
}
.self {
    max-width: 370px;
    border-radius: 20px;
}
.bubble-container {
    position: relative;
}
.bubble {
    position: absolute;
    left: 280px;
    top: 70px;
}
.scroll-container {
    margin-top: 15px;
    margin-bottom: 200px;
    padding: 0px 50px 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.see-my-work {
    font-family: Lexend, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #033962;
    text-decoration: none;
    letter-spacing: 3px;
}
.bouncing-arrow {
    background-color: #FFA600;
    color: #F9F9F9;
    padding: 10.5px 11.5px 10.5px 11.5px;
    border-radius: 30px;
    text-align: center;
}
/* work section*/
.work {
    margin-top: 0 auto;
    padding: 180px 100px 100px;
}
.section-title {
    font-family: Lexend, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    color: #033962;
    margin-bottom: 50px;
}
/* case study - overlapping cards */
.case-study-container {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 80px;
    display: flex;
    gap: 30px;
    position: relative;
}
.cover-img {
    max-width: 50%;
}
.description-container {
    position: absolute;
    top: 110px;
    left: 700px;
}
.description {
    background-color: #B4D8E7;
    border-radius: 20px;
    display: flex; 
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    max-height: 50%;
}
.description-text h2 {
    color: #033962;
    font-family: Lexend, sans-serif;
    font-size: 24px;
    margin-bottom: 0px;
}
.description-text h3 {
    font-family: Roboto, sans-serif;
    color: #033962;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}
.button {
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #FFA600;
}










/* about.html styling */
.about {
    margin: 50px 150px;
}
.about-top {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.about-top img {
    max-width: 60%;;
    margin-left: 80px;
}
.about-top-text {
    margin-right: 80px;
    padding: 0;
}
.about-top-text h1 {
    margin: 0;
    padding: 0;
    font-size: 51px;
    color: #033962;
}
.about-top-text p {
    font-size: 20px;
    font-weight: 300;
}
.about-bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.skills-interests {
    max-width: 50%;
}
.skills-interests h2 {
    color: #033962;
    font-size: 32px;
}
.skills-interests p {
    font-weight: 300;
    font-size: 20px;
}
.education {
    max-width: 50%;
}
.education h2 {
    color: #033962;
    font-size: 32px;
}
.education p {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}
.schools {
    display: flex;
    flex-flow: column;
    gap: 20px;
}
.about-contact-info {
    text-align: center;
}
.about-contact-info h2 {
    font-size: 32px;
    color: #033962;
}
.about-contact-info a {
    font-family: Lexend, sans-serif;
    color: #FFA600;
}
.about-contact-info a:hover {
    font-family: Lexend, sans-serif;
    text-decoration: underline;
}
.loves {
    margin-top: 80px;
}
.loves h1 {
    font-size: 32px;
    color: #033962;
}
.loves-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
}
.loves-item {
    max-width: 33%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.loves-item img {
    max-width: 80%;
    border-radius: 20px;
}
.loves-item-text {
    max-width: 80%;
}
.loves-item-text h2 {
    font-size: 24px;
    color: #033962;
}
.loves-item-text p {
    font-family: Fira Mono;
    font-size: 18px;
    font-weight: 300;
}









/* case study article styling */










/* footer */
.nav-border-bottom {
    position: relative;
    margin: 0;
    top: 4px;
    max-width: 100%;
}
footer {
    background-color: #033962;
    color: #F9F9F9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 2;
    padding: 30px;
}
.lets-connect {
    max-width: 300px;;
}
footer ul {
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    list-style: none;
    text-align: center;
}
footer ul li {
    padding: 10px;
}
footer a:hover {
    color: #FFA600;
    text-decoration: underline;
}
