// sass variables 
//color
$bg-color: #FFFEFC;
$text-color: #021620;
$primary-color: #DCEDF6;
$secondary-color: #E8EBFF;
$gradient: linear-gradient(55deg, #8bc1de, #B0C9F4, #B1C1F8, #B1BBFC);
$link-color: #8bc1de;
$border: 1px solid black;
//font 
$primary-font: Be Vietnam Pro, sans-serif;
// spacing
$section-padding: 100px 250px;
$section-padding-md: 50px 120px;
$section-padding-sm: 25px 60px;
$footer-padding: 30px 250px 50px;
$nav-padding: 20px 100px;
$nav-padding-md: 20px 50px;
$case-study-padding: 80px 450px 80px 200px;
$case-study-img-padding: 50px 250px;
$link-padding: 12px 16px;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    font-family: $primary-font;
    color: $text-color;
    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: $text-color;
    }
    h2, h3 {
        font-weight: 600;
        color: $text-color;
    }
    p, li {
        font-family: $primary-font;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75rem;
        color: $text-color;
    }
    a {
        font-family: $primary-font;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75rem;
        color: $text-color;
        color: $text-color;
    }
    .gradient-text {
        background: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    header {
        z-index: 2;
        position: sticky;
        top: 0;
        nav {
            display: flex;
            align-items: center;
            padding: $nav-padding;
            .logo {
                margin-right: auto;
                img {
                    max-width: 45px;
                }
            }
            .nav-links {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    gap: 50px;
                    li {
                        padding: $link-padding;
                        font-weight: 300;
                        text-decoration: none;
                        a {
                            text-decoration: none;
                        }
                        a:hover {
                            text-decoration: underline;
                            color: $link-color;
                        }
                    }
                }
            }
            
            .toggle-btn {
                color: $text-color;
                font-size: 1.5rem;
                cursor: pointer;
                display: none;
            }
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            right: 50px;
            top: 70px;
            width: 200px;
            background-color: $primary-color;
            border-radius: 10px;
            overflow: hidden;
            height: 0;
            transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    padding: $link-padding;
                    font-weight: 300;
                    text-align: center;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                    }
                    a:hover {
                        text-decoration: underline;
                        color: $text-color;
                    }
                }
            }
        }
        .dropdown-menu.open {
            height: 165px;
        }
    }
    .wave-divider {
        max-width: 100%;
        img {
            max-width: 100%;
        }
    }

    // index styles
    .hero-section {
        padding: $section-padding;
        display: flex;
        justify-content: center;
        .hero-container {
            max-width: 1200px;
        }
        h2 {
            font-weight: 300;
            margin-bottom: 100px;
        }
        a {
            font-weight: 500;
        }
        a:hover {
            color: $link-color;
        }
    }
    .selected-work-section {
        padding: $section-padding;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        .case-study-card {
            display: flex;
            flex-flow: column;
            max-width: 1200px;
            gap: 20px;
            h2 {
                margin: 0;
            }
            p {
                margin: 0;
            }
            .case-study-card-text {
                display: flex;
                flex-flow: column;
                max-width: 100%;
                margin-right: auto;
                justify-content: center;
                gap: 10px;
                h2 {
                    font-size: 1.5rem;
                    margin: 0;
                }
                p {
                    font-style: italic;
                    margin: 0;
                }
                h3 {
                    font-size: 1.25rem;
                    font-style: none;
                    font-weight: 300;
                    margin: 0;
                }
            }
            .case-study-card-img {
                max-width: 100%;
                a {
                    max-width: 100%;
                    img {
                        max-width: 100%;
                        border-radius: 10px;
                        border: 1px solid transparent;
                    }
                    img:hover {
                        border: 1px dashed $text-color;
                    }
                } 
            }
        }
    }
    footer {
        padding: $footer-padding;
        display: flex;
        flex-flow: column;
        align-items: center;
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 0.875rem;
        }
        .footer-links {
            display: flex;
            gap: 2rem;
            a {
                padding: $link-padding;
            }
            a:hover {
                transform: rotate(20deg);
            }
        }
    }

    //case study styles
    .wave-divider-sm {
        padding: 0px 200px; 
        display: flex;
        justify-content: flex-start;
        img {
            max-width: 80%;
        }
    }
    .case-study-title {
        padding: $case-study-padding;
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
    .case-study-cover-img-uinv {
        background-color: $secondary-color;
        padding: 50px 0px;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        img {
            max-width: 10%;
        }
        .browser {
            flex-basis: 35%;
            img {
                max-width: 100%;
            }
        }
    }
    .case-study-cover-img-yelp {
        background-color: $primary-color;
        padding: 50px 0px;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        img {
            max-width: 10%;
        }
    }
    .case-study-section {
        padding: $case-study-padding;
        display: flex;
        flex-flow: row;
        gap: 100px;
        h2 {

            margin: 0;
        }
        h3 {

            margin-top: 10px;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 600;
        }
        p {
            margin: 0;
        }
        ul {

            margin: 0;
        }
        .case-study-content {
            max-width: 900px;
            display: flex;
            flex-flow: column;
            gap: 10px;
        }
        .section-number {
            font-size: 1.5rem;
            font-weight: 600;
            display: none;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 50px;
            h3 {

                margin-bottom: 10px;
            }
        }
        img {
            max-width: 100%;
            margin-top: 20px;
        }
        .design-timeline {
            max-width: 900px;
        }
        .highlight {
            padding: 0px 20px;
            border: 1px $text-color dashed;
            border-radius: 10px;
            background-color: white;
            .problem-statement {
                margin: 20px 0px;
                font-size: 1.5rem;
                font-style: italic; 
                line-height: 2.5rem;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            li {
                margin: 20px 0px;
            }
            h3 {
                margin: 0;
            }
            p {
                margin: 0;
            }
            
        }
        .two-columns {
            display: flex;
            flex-flow: row;
            gap: 50px;

            .column {

                max-width: 50%;
                max-height: 100%;
            }
            .design-goals {
                background-color: white;
                border: 1px $text-color dashed;
                border-radius: 10px;
                padding: 20px;
                flex-basis: 50%;
                h3 {
                    margin-bottom: 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                h4 {
                    font-weight: 500;
                }
                ul {
                    margin-top: 10px;
                }
            }
        }
        .case-study-article-img {

            display: flex;
            justify-content: center;
            figure {

                max-width: 600px;
                text-align: center;
                img {
                    border-radius: 10px;
                }
            }
        }
        .case-study-article-img-mockup {
            display: flex;
            flex-flow: row;
            padding: 0;
            gap: 30px;
            figure {
                margin: 0;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                gap: 50px;
                img {
                    max-width: 30%;
                }
                figcaption {
                    margin-top: 0;
                    max-width: 100%;
                    font-weight: 300;
                    line-height: 28px;;
                }
            }
        }
    }
    .case-study-img {
        padding: $case-study-img-padding;
        display: flex;
        justify-content: center;
        figure {
            max-width: 900px;
            text-align: center;
            img {
                max-width: 100%;
                border-radius: 10px;
            }
            figcaption {
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }

    // about.html styles
    .about-main {
        padding: $section-padding;
        display: flex;
        flex-flow: column;
        gap: 80px;
        h2 {
            margin-top: 0;
        }
        .about-intro {
            max-width: 900px;
            display: flex;
            flex-flow: row;
            gap: 80px;
            .about-intro-img {
                img {
                    max-width: 100%;
                }
            }
            
            .about-intro-text {
                justify-content: center;
                flex-basis: 60%;
                display: flex;
                flex-flow: column;
                gap: 20px;
                h1 {
                    margin: 0;
                }
                p {
                    margin: 0;
                }
                a {
                    font-weight: 600;
                }
                a:hover {
                    color: $link-color;
                }
            }
        }
        .about-edu-skills {

            max-width: 900px;
            display: flex;
            .about-edu {
                flex-basis: 50%;
            }
            .skills-and-technologies {
                flex-basis: 50%;
            }
        }
        .about-edu {
            display: flex;
            flex-flow: column;
            gap: 10px;
            h2 {
                margin-bottom: 10px;
            }
            h3 {
                font-size: 1rem;
                margin: 0;
            }
            p {
                margin: 0;
            }
        }
    }
    .about-more {

        max-width: 900px;
        h2 {
            margin: 0;
        }
        h3 {
            font-size: 1rem;
        }
        .likes-hates {
            display: flex;

            .likes {

                flex-basis: 50%;
            }
            .hates {

                flex-basis: 50%;
            }

        }
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 50px;
    }
}


// media query for tablet
@media (max-width:992px) {
    body {
        h1 {
            font-size: 2rem;
        }
        header {
            nav {
                padding: $nav-padding-md;
                .nav-links {
                    display: none;
                }
                .toggle-btn {
                    display: block;
                }
            }
            .dropdown-menu {
                display: block;
            }
        }
        .hero-section {
            padding: $section-padding-md;
        }
        .selected-work-section {
            padding: $section-padding-md;
            gap: 50px;
            .case-study-card {
                max-width: 100%;
                .case-study-card-img {
                    max-width: 100%;
                }
                .case-study-card-text {
                    max-width: 100%;
                    gap: 15px;
                    h2 {
                        font-size: 1.375rem;
                    }
                    h3 {
                        font-size: 1.125rem;
                    }
                }
            }
        }

        // case study styles
        .case-study-title {
            padding: $section-padding-md;
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.25rem;
            }
        }
        .wave-divider-sm {
            padding: $section-padding-md;
            img {
                max-width: 100%;
            }
        }
        .case-study-section {
            padding: $section-padding-md;
            .case-study-content {
                max-width: 100%;
                .grid-container {
                    display: flex;
                    flex-flow: column;
                    gap: 20px;
                    .grid-item-1 {
                        h3 {
                            margin: 0;
                        }
                    }
                    .grid-item-2 {
                        h3 {
                            margin: 0;
                        }
                    }
                    .grid-item-3 {
                        h3 {
                            margin: 0;
                        }
                    }
                    .grid-item-4 {
                        h3 {
                            margin: 0;
                        }
                    }
                }
                .design-timeline {
                    max-width: 100%;
                }
                .two-columns {
                    .column {
                        max-width: 100%;
                    }
                }
                .highlight {
                    .problem-statement {
                        line-height: 1.75rem;
                    }
                }
                iframe {
                    max-width: 100%;
                }
            }
        }
        /*
        .case-study-img {
            padding: $section-padding-md;
            figure {
                max-width: 100%;
                img {
                    max-width: 100%;
                    border-radius: 10px;
                }
                figcaption {
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
        */
        .about-main {
            padding: $section-padding-md;
            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 20px;
            }
            .about-intro {
                flex-flow: column;
                gap: 40px;
                .about-intro-img {
                    img {
                        max-width: 200px;
                    }
                }
            }
            .about-edu-skills {
                
                flex-flow: column;
                gap: 40px;
                h2 {
                    margin: 0;
                }
            }
            .about-more {
                .likes-hates {
                    flex-flow: column;
                }
            }
        }
    }
}

@media (max-width:640px) {
    body {
        header {
            nav {
                padding: 30px 20px 10px;
                .logo {
                    max-width: 30px;
                    img {
                        max-width: 100%;
    
                    }
                    
                }
                .dropdown-menu {
                    right: 20px;
                }
            }
        }
        h1 {
            font-size: 24px;
            font-weight: 500;
        }
        .wave-divider {
            img {
                max-width: 100%;
            }
        }
        .hero-section {
            padding: $section-padding-sm;
        }
        
        .selected-work-section {
            padding: $section-padding-sm;
            gap: 50px;
            .case-study-card {
                max-width: 100%;
                .case-study-card-img {
                    max-width: 100%;
                }
                .case-study-card-text {
                    max-width: 100%;
                    gap: 10px;
                    h2 {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    h3 {
                        font-size: 16px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
        footer {
            padding: $section-padding-sm;
            h2 {
                font-size: 1.618rem;
            }
            .footer-links {
                gap: 1rem;
            }
        }

        // case study styles
        .case-study-title {
            padding: $section-padding-sm;
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 18px;
            }
        }

        .case-study-cover-img-yelp {
            padding: 20px;
            gap: 10px;
            img {
                max-width: 15%;
            }
        }

        
        .wave-divider-sm {
            padding: $section-padding-sm;
            img {
                max-width: 100%;
            }
        }
        .case-study-section {
            padding: $section-padding-sm;
            h2 {
                font-size: 18px;
            }
            h3, p, li, a {
                font-size: 14px;
            }
            .section-number {
                display: none;
            }
            .case-study-content {
                .two-columns {
                    flex-flow: column;
                    gap: 20px;
                    .design-goals {
                        h3 {
                            margin: 0;
                        }
                        h4 {
                            margin: 15px 0px;
                        }
                    }
                }
                .highlight {
                    .problem-statement {
                        font-size: 1rem;
                    }
                }
                .case-study-article-img-mockup {
                    flex-flow: column;
                    padding: 0;
                    gap: 20px;
                    figure {
                        margin: 0;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        max-width: 100%;
                        img {
                            max-width: 50%;
                        }
                        figcaption {
                            margin-top: 0;
                            max-width: 100%;
                        }
                    } 
                }
                .case-study-article-img {
                    figure {
                        figcaption {
                            font-size: 0.75rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        /*
        .case-study-img {
            padding: $section-padding-sm;
            figure {
                figcaption {
                    font-size: 0.75rem;
                }
            }
        }
        */

        // about styles
        .about-main {
            padding: $section-padding-sm;
            .about-intro {
                flex-flow: column;
                gap: 20px;
                .about-intro-img {
                    img {
                        max-width: 45%;
                    }
                }
                .about-intro-text {
                    h1 {
                        font-size: 2rem;
                    }
                }
            }
            .grid-container {
                h2 {
                    font-size: 1.25rem;
                }
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }

    }
}